<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome | Client Verification UI | LogSentinel</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../../css/dashboard.css">
    <link rel="stylesheet" th:href="@{/css/vis.css}" href="../../css/vis.css">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">LogSentinel</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search by audit log entry hash or ID" aria-label="Search" th:value="${hash}" id="searchHash">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#loginScreen" id="signInButton">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" id="dashboardLink">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" id="inclusionLink">
                                <span data-feather="file"></span>
                                Verify inclusion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">
                                <span data-feather="shopping-cart"></span>
                                Verify consistency
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="form-group">
                            <label for="applicationIdSelect">Application ID</label>
                            <select class="form-control" id="applicationIdSelect" th:if="${applications != null}">
                                <option th:each="item : ${applications}" th:text="${item.toString()}" th:selected="${applicationId == item.toString()}"></option>
                                </ul>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" th:if="${!signedIn}">
                    <div class="card-header text-white bg-danger">Authentication required</div>
                    <div class="card-body">
                        <h5 class="card-title">You have not entered your organization's API credentials</h5>
                        <p class="card-text">Please log in using the button in the upper right corner of this window or <a href="javascript:void(0);" data-toggle="modal" data-target="#loginScreen">click here</a>.</p>
                    </div>
                </div>

                <div class="card mb-3" th:if="${signedIn && !authorized}">
                    <div class="card-header text-white bg-danger">Authentication required</div>
                    <div class="card-body">
                        <h5 class="card-title">Wrong API credentials</h5>
                        <p class="card-text">The provided API credentials are not valid. Please enter your organization's API credentials again.</p>
                    </div>
                </div>

                <div class="card" th:if="${signedIn && authorized && consistencyProof}">
                    <div th:if="${consistencyProof && consistencyProofVerification}" class="card-header text-white bg-success">Consistency proof</div>
                    <div th:if="${consistencyProof && !consistencyProofVerification}" class="card-header text-white bg-danger">Consistency proof</div>
                    <div class="card-body">
                        Status: <b th:if="${consistencyProof && consistencyProofVerification}"
                                   style="color: green; font-weight: normal;">CONSISTENT</b>
                        <b th:if="${consistencyProof && errorMessage != null}"
                           style="color: red; font-weight: normal;" th:text="${errorMessage}">ERROR</b>

                        <p th:if="${error != null}">Message: <b style="font-weight: normal;" th:text="${error}">0</b></p>

                        <p th:if="${firstTreeHash != null && firstTreeSize != null}">First MTH: [<b style="font-weight: normal;" th:text="${firstTreeSize}">0</b>] <b style="font-weight: normal;" th:text="${firstTreeHash}">0</b></p>
                        <p th:if="${secondTreeHash != null && secondTreeSize != null}">Second MTH: [<b style="font-weight: normal;" th:text="${secondTreeSize}">0</b>] <b style="font-weight: normal;" th:text="${secondTreeHash}">0</b></p>
                    </div>
                </div>

                <div class="card" th:if="${signedIn && authorized && inclusionProof}">
                    <div th:if="${inclusionProof && inclusionProofVerification}" class="card-header text-white bg-success">Inclusion proof</div>
                    <div th:if="${inclusionProof && !inclusionProofVerification}" class="card-header text-white bg-danger">Inclusion proof</div>
                    <div class="card-body">
                        Status: <b th:if="${inclusionProof && inclusionProofVerification}"
                                  style="color: green; font-weight: normal;">INCLUDED</b>
                                <b th:if="${inclusionProof && error != null}"
                                    style="color: red; font-weight: normal;">ERROR</b>

                        <p th:if="${error != null}">Message: <b style="font-weight: normal;" th:text="${error}">0</b></p>

                        <p th:if="${leafIndex != -1}">Leaf index: <b style="font-weight: normal;" th:text="${leafIndex}">0</b></p>
                        <p th:if="${inclusionProofPath != null}">Inclusion proof path size: <b style="font-weight: normal;" th:text="${inclusionProofPath.size()}">0</b></p>

                    </div>
                </div>

                <div class="card" th:if="${signedIn && authorized && inclusionProof}">
                    <div class="card-header">
                        Audit log entry
                    </div>
                    <div class="card-body">
                        <p th:if="${entryId != null}">Audit log entry ID: <b style="font-weight: normal;" th:text="${entryId}">0</b></p>
                        <p th:if="${standaloneHash != null}">Standalone hash: <b style="font-weight: normal;" th:text="${standaloneHash}">0</b></p>
                        <p th:if="${entryHash != null}">Hash: <b style="font-weight: normal;" th:text="${entryHash}">0</b></p>
                    </div>
                </div>

                <div class="card" th:if="${signedIn && authorized && applicationId != null}">
                    <div class="card-header">
                        Log status
                    </div>
                    <div class="card-body">
                        Status: <b style="color: green; font-weight: normal;">OKAY</b><br>

                        <p th:if="${treeSize != null}">Current tree size: <b style="font-weight: normal;" th:text="${treeSize}">0</b></p>
                        <p th:if="${rootHash != null}">Current MTH: <b style="font-weight: normal;" th:text="${rootHash}">0</b></p>
                    </div>
                </div>

                <div class="card" th:if="${signedIn && authorized && applicationId != null && treeSize > 0 && treeSize < 1000}">
                    <div class="card-header">
                        Merkle tree visualization
                    </div>
                    <div class="card-body">
                        <div id="merkleTreeVis" style="width: 100%; height: 800px;"></div>
                    </div>
                </div>

                <div class="card" th:if="${signedIn && authorized && applicationId != null}">
                    <div class="card-header">
                        Historical MTHs
                    </div>
                    <div class="card-body">
                        <table class="table" style="margin-bottom: 20px;" id="etherMths" th:if="${signedIn && applicationId != null && authorized && etherscanApiKey != null}">
                            <thead>
                            <tr>
                                <th scope="col">MTH</th>
                                <th scope="col">Time stamp</th>
                                <th scope="col">Block number</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label for="mth">Merkle Tree Head (MTH)</label>
                            <input type="text" class="form-control" id="mth">
                        </div>
                        <div style="display: flex; justify-content: flex-end;">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="checkConsistency">Check consistency</button>
                        </div>
                    </div>
                </div><br>
            </main>
        </div>
    </div>

    <div class="modal fade" id="loginScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authentication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please enter your API credentials in order to proceed. <a href="https://app.logsentinel.com/api-credentials" target="_blank">Click here</a> to view your API credentials.<br><br>
                    <form action="/" method="get">
                        <div class="form-group">
                            <label for="organizationId">Organization ID</label>
                            <input type="text" class="form-control" id="organizationId" name="organizationId" th:value="${organizationId}"
                                   placeholder="87094578-894f-a5e8-ae09-3f6e0ac53f22">
                        </div>
                        <div class="form-group">
                            <label for="secret">Secret</label>
                            <input type="password" class="form-control" id="secret" name="secret" th:value="${secret}"
                                   placeholder="7394750f5a5e4ab0037dc70609bb011974fdf194a9caceb939b192d29cc9f7d7">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="connectEtherscan" th:checked="${etherscanApiKey != null}">
                            <label class="form-check-label" for="connectEtherscan">
                                I would like to search in Ethereum's blockchain for Merkle Tree Hashes (MTHs)
                            </label>
                        </div>
                        <div class="form-group" style="margin-top: 12px;" id="etherScanApiKeyPanel">
                            <label for="etherscanApiKey">etherscan.io API key</label>
                            <input type="text" class="form-control" id="etherscanApiKey" name="etherscanApiKey"
                                   placeholder="UIBWILBIUY23OIHU89098HLUIihYUHi897" th:value="${etherscanApiKey}">
                            <small id="etherscanApiKeyHelp" class="form-text text-muted">Please visit <a href="https://etherscan.io/" target="_blank">etherscan.io</a> and create your personal API-Key token.</small>
                        </div>
                        <input type="hidden" name="applicationId" id="applicationId" th:value="${applicationId}">
                        <div style="display: flex; justify-content: flex-end;">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="justify-content: flex-start;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/vis.min.js}" src="../../js/vis.min.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

    <script th:if="${signedIn}">
    $(document).ready(function () {
        $("#signInButton").text("Signed in");
    });
    </script>

    <script th:if="${etherscanApiKey == null}">
    $(document).ready(function () {
        $('#etherScanApiKeyPanel').hide();
    });
    </script>

    <script th:if="${signedIn && authorized && etherscanApiKey != null}">
    $(document).ready(function () {
        var applicationId = $("#applicationIdSelect").val();

        $.getJSON('/ether?applicationId=' + applicationId + '&etherscanApiKey=[[${etherscanApiKey}]]', function(mths) {
            if (mths.length == 0) {
                $("#etherMths tbody").append('<tr><td></td><td><i>No data found</i></td><td></td></tr>');
            }
            else {
                $.each(mths, function(i, item) {
                    $("#etherMths tbody").append('<tr><td>' + item.hash + '</td><td>' + item.timestamp + '</td><td><a href="https://ropsten.etherscan.io/txs?block=' + item.blockNumber + '" target="_blank">' + item.blockNumber + '</a></td></tr>');
                });
            }
        });
    });
    </script>

    <script th:if="${signedIn && applicationId != null}">
    $(document).ready(function () {
        $('#applicationId').value="[[${applicationId}]]";
    });
    </script>

    <script>
    var network;
    var edges;
    var nodes;
    var leafIndex = [[${leafIndex}]];

    function filterUrl(ignoreParams) {
        var urlQuery = "";
        var parameters = window.location.href.replace('#','').slice(window.location.href.indexOf('?') + 1).split('&');

        for(var i = 0; i < parameters.length; i++)
        {
            var parameter = parameters[i].split('=');

            if (jQuery.inArray(parameter[0], ignoreParams) == -1) {
                urlQuery += parameter[0] + "=" + parameter[1] + "&";
            }
        }

        return urlQuery.substring(0, urlQuery.length - 1);
    }

    $(document).ready(function () {
        $('#connectEtherscan').change(function() {
            if ($('#connectEtherscan').prop('checked')) {
                $('#etherScanApiKeyPanel').show();
            } else {
                $('#etherScanApiKeyPanel').hide();
            }
        });

        $("#dashboardLink").attr("href", "/?" + filterUrl(["hash", "mth"]));

        $("#inclusionLink").click(function() {
            $("#searchHash").val("");
            $("#searchHash").focus();
        });

        $("#consistencyLink").click(function() {
            $("#mth").focus();
        });

        $("#checkConsistency").click(function() {
            window.location=window.location.protocol + "//" + window.location.host + "/?" + filterUrl(["hash", "mth"]) +
                    "&mth=" + $('#mth').val();
        });

        $('#searchHash').on('keypress', function (e) {
            if (e.which === 13){
                window.location= "/?" + filterUrl(["hash", "mth"]) +
                    "&hash=" + $('#searchHash').val();
            }
        });

        $('#applicationIdSelect').change(function() {
            window.location=window.location.protocol + "//" + window.location.host + "/?" + filterUrl(["applicationId"]) +
                "&applicationId=" + $('#applicationIdSelect').find(":selected").text();
        });

        nodes = new vis.DataSet();
		edges = new vis.DataSet();

        var container = document.getElementById('merkleTreeVis');

        var data = {
            nodes: nodes,
            edges: edges
        };

        var options = {
            layout: {
                improvedLayout:true,
                hierarchical: {
                  enabled:true,
                  levelSeparation: 100,
                  nodeSpacing: 100,
                  treeSpacing: 100,
                  blockShifting: true,
                  edgeMinimization: true,
                  parentCentralization: true,
                  direction: 'UD',
                  sortMethod: 'directed'
                }
             }
        };

        var network = new vis.Network(container, data, options);

        $.getJSON('/map?treeSize=[[${treeSize}]]&leafIndex=[[${leafIndex}]]', function(mapN) {
            edges.add(mapN.edges);
            nodes.add(mapN.nodes);

            for(var i in mapN.inclusionProof){
                var node2 = nodes.get(mapN.inclusionProof[i] - 1);

                node2.borderWidth = 3;

                node2.color ={
                  border: '#2B7CE9'
                }

                nodes.update(node2);
            }

            for(var i in mapN.leaves){
                var node = nodes.get(mapN.leaves[i]);

                if (leafIndex == node.id) {
                    node.color ={
                      background: '#a72828',
                      border: '#5d1212'
                    }
                }
                else {
                    node.color ={
                      background: '#0d7cab'
                    }

                }

                node.font ={
                    color: '#ffffff'
                }

                nodes.update(node);
            }
        });

        network.on('click',  function (params) {
            var nodeId = params['nodes']['0'];

            if(nodeId){
                alert(nodes.get(nodeId).id);
            }
        });

    });
    </script>

    <script th:if="${signedIn && authorized && inclusionProof}">
    $(document).ready(function () {

        $('#etherScanApiKeyPanel').hide();
    });
    </script>
</body>
</html>