<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome | Client Verification UI | LogSentinel</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../../css/dashboard.css">
    <link rel="stylesheet" th:href="@{/css/vis.css}" href="../../css/vis.css">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">LogSentinel</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search hash" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginScreen" id="signInButton">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Verify inclusion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Verify consistency
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="form-group">
                            <label for="applicationIdSelect">Application ID</label>
                            <select class="form-control" id="applicationIdSelect" th:if="${applications != null}">
                                <option th:each="item : ${applications}" th:text="${item}" th:selected="${applicationId == item}"></option>
                                </ul>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" th:if="${applicationId == null}">
                    <div class="card-header text-white bg-danger">Authentication required</div>
                    <div class="card-body">
                        <h5 class="card-title">You have not entered your organization's API credentials</h5>
                        <p class="card-text">Please log in using the button in the upper right corner of this window or <a href="#" data-toggle="modal" data-target="#loginScreen">click here</a>.</p>
                    </div>
                </div>

                <div class="card mb-3" th:if="${authorized == false}">
                    <div class="card-header text-white bg-danger">Authentication required</div>
                    <div class="card-body">
                        <h5 class="card-title">Wrong API credentials</h5>
                        <p class="card-text">The provided API credentials are not valid. Please enter your organization's API credentials again.</p>
                    </div>
                </div>

                <div class="card" th:if="${applicationId != null && authorized}">
                    <div class="card-header">
                        Log status
                    </div>
                    <div class="card-body">
                        Status: <b style="color: green; font-weight: normal;">OKAY</b><br>
                        Current tree size: <i th:text="${treeSize}">0</i><br>
                        Current MTH: <i th:text="${rootHash}">N/A</i>
                    </div>
                </div><br>

                <div class="card" th:if="${applicationId != null && authorized && treeSize > 0 && treeSize < 1000}">
                    <div class="card-header">
                        Merkle tree visualization
                    </div>
                    <div class="card-body">
                        <div id="merkleTreeVis" style="width: 100%; height: 800px;"></div>
                    </div>
                </div><br>

                <div class="card" th:if="${applicationId != null && authorized && etherscanApiKey != null}">
                    <div class="card-header">
                        Historical MTHs
                    </div>
                    <div class="card-body">
                        <table class="table" id="etherMths">
                            <thead>
                            <tr>
                                <th scope="col">MTH</th>
                                <th scope="col">Time stamp</th>
                                <th scope="col">Block number</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div><br>
            </main>
        </div>
    </div>

    <div class="modal fade" id="loginScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authentication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please enter your API credentials in order to proceed. <a href="https://app.logsentinel.com/api-credentials" target="_blank">Click here</a> to view your API credentials.<br><br>
                    <form action="/" method="get">
                        <div class="form-group">
                            <label for="organizationId">Organization ID</label>
                            <input type="text" class="form-control" id="organizationId" name="organizationId" th:value="${organizationId}"
                                   placeholder="87094578-894f-a5e8-ae09-3f6e0ac53f22">
                        </div>
                        <div class="form-group">
                            <label for="secret">Secret</label>
                            <input type="password" class="form-control" id="secret" name="secret" th:value="${secret}"
                                   placeholder="7394750f5a5e4ab0037dc70609bb011974fdf194a9caceb939b192d29cc9f7d7">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="connectEtherscan" th:checked="${etherScanApiKeyCheckbox}">
                            <label class="form-check-label" for="connectEtherscan">
                                I would like to search in Ethereum's blockchain for Merkle Tree Hashes (MTHs)
                            </label>
                        </div>
                        <div class="form-group" style="margin-top: 12px;" id="etherScanApiKeyPanel">
                            <label for="etherscanApiKey">etherscan.io API key</label>
                            <input type="text" class="form-control" id="etherscanApiKey" name="etherscanApiKey"
                                   placeholder="UIBWILBIUY23OIHU89098HLUIihYUHi897" th:value="${etherscanApiKey}">
                            <small id="etherscanApiKeyHelp" class="form-text text-muted">Please visit <a href="https://etherscan.io/" target="_blank">etherscan.io</a> and create your personal API-Key token.</small>
                        </div>
                        <input type="hidden" name="applicationId" id="applicationId" th:value="${applicationId}">
                        <div style="display: flex; justify-content: flex-end;">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="justify-content: flex-start;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/vis.min.js}" src="../../js/vis.min.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>


    <script th:if="${etherscanApiKey != null}">
    $(document).ready(function () {
        $("#signInButton").text("Signed in");
    });
    </script>

    <script th:if="${authorized}">
    $(document).ready(function () {
        $("#signInButton").text("Signed in");
    });
    </script>

    <script th:if="${etherscanApiKey == null}">
    $(document).ready(function () {
        $('#etherScanApiKeyPanel').hide();
    });
    </script>

    <script th:if="${etherscanApiKey != null}">
    $(document).ready(function () {
        var applicationId = "45d05c20-7595-11e8-a5f4-e50e8178b4ba";
        // var applicationId = "[[${applicationId}]]";

        $.getJSON('http://localhost:8090/ether?organizationId=' + applicationId + '&etherscanApiKey=[[${etherscanApiKey}]]', function(mths) {
            $.each(mths, function(i, item) {
                $("#etherMths tbody").append('<tr><td>' + item.hash + '</td><td>' + item.timestamp + '</td><td>' + item.blockNumber + '</td></tr>');
             });
        });
    });
    </script>

    <script th:if="${applicationId != null}">
    $(document).ready(function () {
        $('#applicationId').value="[[${applicationId}]]";
    });
    </script>

    <script>
    var network;
    var edges;
    var nodes;

    $(document).ready(function () {
        $('#connectEtherscan').change(function() {
            if ($('#connectEtherscan').prop('checked')) {
                $('#etherScanApiKeyPanel').show();
            } else {
                $('#etherScanApiKeyPanel').hide();
            }
        });

        $('#applicationIdSelect').change(function() {
            var hash;
            var queryString = "";
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                if (hash[0] != "applicationId") {
                    queryString += hash[0] + "=" + hash[1] + "&";
                }
            }

            window.location=window.location.protocol + "//" + window.location.host + "/?" + queryString +
            "applicationId=" + $('#applicationIdSelect').find(":selected").text();
        });

        nodes = new vis.DataSet();
		edges = new vis.DataSet();

        var container = document.getElementById('merkleTreeVis');

        var data = {
            nodes: nodes,
            edges: edges
        };

        var options = {
            layout: {
                improvedLayout:true,
                hierarchical: {
                  enabled:true,
                  levelSeparation: 100,
                  nodeSpacing: 100,
                  treeSpacing: 100,
                  blockShifting: true,
                  edgeMinimization: true,
                  parentCentralization: true,
                  direction: 'UD',
                  sortMethod: 'directed'
                }
             }
        };

        var network = new vis.Network(container, data, options);

        $.getJSON('http://localhost:8090/map?treeSize=[[${treeSize}]]', function(mapN) {
            edges.add(mapN.edges);
            nodes.add(mapN.nodes);

            for(var i in mapN.inclusionProof){
                var node2 = nodes.get(mapN.inclusionProof[i] - 1);

                node2.borderWidth = 3;

                node2.color ={
                  border: '#2B7CE9'
                }

                nodes.update(node2);
            }

            for(var i in mapN.leaves){
                var node = nodes.get(mapN.leaves[i]);

                node.color ={
                  background: '#0d7cab'
                }
                node.font ={
                  color: '#ffffff'
                }

                nodes.update(node);
            }
        });

        network.on('click',  function (params) {
            var nodeId = params['nodes']['0'];

            if(nodeId){
                alert(nodes.get(nodeId).id);
            }
        });

    });
    </script>
</body>
</html>