<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome | Client Verification UI | LogSentinel</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../../css/dashboard.css">
    <link rel="stylesheet" th:href="@{/css/vis.css}" href="../../css/vis.css">

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 800px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">LogSentinel</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search hash" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginScreen">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Verify inclusion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Verify consistency
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Application ID</label>
                            <select class="form-control" th:if="${applications != null}">
                                <option th:each="item : ${applications}" th:text="${item}"></option>
                                </ul>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card" th:if="${applicationId != null}">
                    <div class="card-header">
                        Log status
                    </div>
                    <div class="card-body">
                        Status: <b style="color: green; font-weight: normal;">OKAY</b><br>
                        Current tree size: <i th:text="${treeSize}">0</i><br>
                        Current MTH: <i th:text="${rootHash}">N/A</i>
                    </div>
                </div><br>

                <div id="mynetwork"></div>
            </main>
        </div>
    </div>

    <div class="modal fade" id="loginScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authentication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please enter your API credentials in order to proceed. <a href="https://app.logsentinel.com/api-credentials">Click here</a> to view your API credentials.<br><br>
                    <form action="/" method="get">
                        <div class="form-group">
                            <label for="organizationId">Organization ID</label>
                            <input type="test" class="form-control" id="organizationId" name="organizationId"
                                   placeholder="87094578-894f-a5e8-ae09-3f6e0ac53f22">
                        </div>
                        <div class="form-group">
                            <label for="secret">Secret</label>
                            <input type="password" class="form-control" id="secret" name="secret"
                                   placeholder="7394750f5a5e4ab0037dc70609bb011974fdf194a9caceb939b192d29cc9f7d7">
                        </div>
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/vis.min.js}" src="../../js/vis.min.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

    <!--<script th:remove="tag" th:utext="${map}"></script>-->

    <script>
    var network;
    var edges;
    var nodes;

    $(document).ready(function () {
    // create an array with nodes
        var data;

        nodes = new vis.DataSet();
		edges = new vis.DataSet();

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            layout: {

                improvedLayout:true,
                hierarchical: {
                  enabled:true,
                  levelSeparation: 100,
                  nodeSpacing: 100,
                  treeSpacing: 100,
                  blockShifting: true,
                  edgeMinimization: true,
                  parentCentralization: true,
                  direction: 'UD',        // UD, DU, LR, RL
                  sortMethod: 'directed'   // hubsize, directed
                }
             }
        };

        // initialize your network!
        // var network = new vis.Network(container, data, options);

        var network = new vis.Network(container,data,options);

			$.getJSON('http://localhost:8090/map?treeSize=[[${treeSize}]]', function(mapN) {
				edges.add(mapN.edges);
				nodes.add(mapN.nodes);
				colorNodes(mapN.leaves);
			});

        network.on('click',  function (params) {

            // parse node id
            var nodeId = params['nodes']['0'];
            if(nodeId){
                alert(nodes.get(nodeId).hash);
            }
        });

    });

    function colorNodes(ids){
            for(var i in ids){
                var node = nodes.get(ids[i]);
                node.color ={
                  background: '#0d7cab'
                }
                node.font ={
                  color: '#ffffff'
                }
                nodes.update(node);
            }

     }
    </script>
</body>
</html>